<section>
  <div class="container-fluid">
    <div class="col-12">
      <mat-card class="mat-card-padrao">
        <div class="row">
          <div class="col-12">
            <div >
              <h1 class="title-card">Cadastro de Carros</h1>
              <h1 class="idPadrao">ID do Carro: {{formsRegister.value.id}}</h1>
            </div>
            <form [formGroup]="formsRegister" class="row">
              
                <mat-form-field class="col-sm-4 col-xs-12">
                  <mat-label>Ano de Fabricação</mat-label>
                <input matInput placeholder="Ano de Fabricação" required
                formControlName="year" value={{formsRegister.value.year}} >
              </mat-form-field>
              
                <mat-form-field class="col-sm-4 col-xs-12">
                  <mat-label>Placa do Carro</mat-label>
                <input matInput placeholder="Placa do Carro" required
                formControlName="licensePlate" value={{formsRegister.value.licensePlate}} >
              </mat-form-field>

                <mat-form-field class="col-sm-2 col-xs-12">
                    <mat-label>Modelo</mat-label>
                  <input matInput placeholder="Modelo" required
                  formControlName="model" value={{formsRegister.value.model}} >
                </mat-form-field>


                <mat-form-field class="col-2">
                  <mat-label>Cor</mat-label>
                  <input matInput placeholder="Cor"
                  formControlName="color" value={{formsRegister.value.color}} >
                </mat-form-field>

            </form>
          </div>
        </div>
        <div class="d-flex col-12">
            <div class="offset-md-10">
                <button mat-button class="col-12" (click)="limpar()">Limpar</button>
            </div>
          <div class="ml-auto">
            <button mat-button class="col-12" [disabled]="!formsRegister.valid" (click)="salvarCarro()"><mat-icon>save</mat-icon> Salvar</button>
          </div>
        </div> 
      </mat-card>
    </div>
      <div class="col-12 mt-2">
        <mat-card class="mat-card-list">
            <mat-card-title>Lista de Carro</mat-card-title> 
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Filtro de Carro
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="filterFormCarro" class="row">
                    <mat-form-field class="col-xs-12 col-md-4">
                        <mat-label>Modelo</mat-label>
                    <input matInput placeholder="Modelo" formControlName="nomeFilterCtrl">
                  </mat-form-field>
                  <div class="col-xs-12 col-md-1">
                    <button mat-button (click)="filterTabelaCarro()" class="mt-2"><mat-icon>search</mat-icon>Buscar</button>
                  </div>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
              <div class="mat-elevation-z8 mt-2">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="model">
                    <th mat-header-cell *matHeaderCellDef id="model"> Modelo </th>
                    <td mat-cell *matCellDef="let element" > {{ element.model }} </td>
                  </ng-container>
                  <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef id="year"> Ano de Fabricação </th>
                    <td mat-cell *matCellDef="let element" > {{ element.year }} </td>
                  </ng-container>
                  <ng-container matColumnDef="licensePlate">
                    <th mat-header-cell *matHeaderCellDef id="licensePlate"> Placa </th>
                    <td mat-cell *matCellDef="let element" > {{ element.licensePlate }} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef id="action"> Ações </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="getRowTableCarro(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="excluirCarro(element.idCar)">
                          <mat-icon>delete</mat-icon>
                          <span>Deletar</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
              </div>
          </mat-card>
    </div>
  </div>
</section>



